:host {
    flex-direction: column;
    align-items: center;
  }
  
  .character-detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .character-detail h2 {
    text-align: center;
  }
  
  .character-detail img {
    flex: 1;
    width:50%;
    max-width: 400px;
    padding-right: 15px;
    align-items: center;
  }

  .character-detail .description {
    flex: 1;
    max-width: 500px;
    width: 50%;
    align-items: center;
    padding: 5%;
    text-align: justify;
  }
  
  .comics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }